<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <title>Home Page</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel ="stylesheet" href="/styles/nav.css" type ="text/css"/>
  <link rel ="stylesheet" href="/styles/cart.css" type ="text/css"/>
  <link rel ="stylesheet" href="/styles/items.css" type ="text/css"/>
   <link rel ="stylesheet" href="/styles/cartItems.css" type ="text/css"/>
  <link rel ="stylesheet" href="/styles/confirm_massage.css" type ="text/css"/>
  <!-- <link rel ="stylesheet" href="/styles/mainPage.scss" type ="text/css"/> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src="/scripts/mainPage.js.js"></script> -->
   <!-- App JS -->

   <script type="text/javascript" src="/scripts/menu.js"></script>
</head>
<body>
  <nav class="header">
    <div class = "menu_icon_align">
       <button onclick="openNav()" class ="header_icon">
        <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="rest_title" > Albedo Resturant
    </div>
    <div class ="cart_div">
      <button type = "button" class="cart">
        <i class="fas fa-cart-plus"></i>
      </button>
    </div>
  </nav>
  <main class="main_container">
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Categories</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <script>
      function openNav() {
        document.getElementById("myNav").style.width = "20%";
      }

      function closeNav() {
        document.getElementById("myNav").style.width = "0%";
      }
    </script>
    <section class ="confirm_container">
    </section>
    <section class="sec-cont">
      <div class ="contain_confirm">
      <div>
        <p class="sentance_ajust">  thank you for your order </p>
      </div>

    </section>

 </main>


</body>
</html>
