<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>This will be the orders fulfillment rendered page</div>
  <!-- Render a table where the last column of the table is a fulfill order button -->
  <!-- When the button is clicked, that will hit the backend and send the order id in, -->
  <!-- possibly as a hidden input (that contains the order id) -->
</body>
</html>
