<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets for the fulfillment view -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/fulfillment.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css" />

  <!-- Scripts for the fulfillment view -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/fulfill.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

  <title>Fulfillment</title>
</head>
<body>
  <!-- Render a table where the last column of the table is a fulfill order button -->
  <!-- When the button is clicked, that will hit the backend and send the order id in, -->
  <!-- possibly as a hidden input (that contains the order id) -->
  <!-- create a dynamic form that when a user clicks on it hits the backend and sets the order as fulfilled -->


  <!-- This will be the header at the top of the page -->
  <header class="main-header">Albedo</header>


  <!-- This div will hold both the left side navbar and the orders container -->
  <div class="owner-page">

    <!-- This will be the left side navbar -->
    <nav class="orders-navbar">
      <section class="nav-buttons">
        <button class="active-orders" type="button">ACTIVE ORDERS</button>
        <button class="orders-history" type="button">ORDERS HISTORY</button>
        <button class="edit-menu" type="button">EDIT MENU</button>
        <button class="dashboard" type="button">DASHBOARD</button>
        <button class="logout" type="button">LOGOUT</button>
        <div></div>
      </section>
    </nav>


      <!-- This will be the main container for the orders -->
      <div class="owner-area">
        <header class="orders-header">ACTIVE ORDERS</header>
        <div class="orders-container">

          <!-- The loop will start here to display all orders -->
          <% for (const order of orders) { %>
          <section class="order-section">

            <main class="order-box">

              <div class="set-time">
                <button class="set-time-button">15 MIN</button>
                <button class="set-time-button">30 MIN</button>
                <button class="set-time-button">45 MIN</button>
              </div>

              <div class="order-details">
                <div class="order-number">Order#: <%= order.order_no %></div>

                <!-- Need a way to extract all items in the order here -->
                <table class="order-items">
                  <tr class="order-line">
                    <td class="order-qty">2x</td>
                    <td class="order-item">Chicken Tandoori</td>
                  </tr>
                </table>
                <!-- End of loop for item name and quantity -->

                <div class="order-notes"><%= order.order_note %></div>
              </div>

              <div class="order-fulfilled">
                <button class="order-fulfilled-button" type="button">
                  <i class="fa-solid fa-check"></i>
                </button>
              </div>

            </main>

            <footer class="order-time">
              <div class="time-ordered"><%= order.order_time %></div>
              <div class="time-remaining"><%= order.estimated_time %></div>
            </footer>
          </section>
          <!-- The loop will end here -->
          <% } %>

        </div>
      </div>

</body>
</html>
