<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <style>
  .mySlides {display:none;}
  </style>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel ="stylesheet" href="/styles/nav.css" type ="text/css"/>
  <link rel ="stylesheet" href="/styles/cart.css" type ="text/css"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/mainPage.js"></script>
  <title>Document</title>
</head>
<body  >
    <nav class="header">
      <div class = "menu_icon_align">
         <button onclick="openNav()" class ="header_icon">
          <i class="fas fa-bars"></i>
          </button>
      </div>
      <div class="rest_title" > Albedo Resturant
      </div>
      <div class ="cart_div">
        <button type = "button" class="cart">
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </nav>
<!-- Slideshow container -->
  <!-- <h2 class="w3-center">Automatic Slideshow</h2> -->
<div background-color="black" >
  <div class="w3-content w3-section" style="max-width:800px">
    <img class="mySlides" src="images/burger.jpg" style="width:100%">
    <img class="mySlides" src="images/tea.jpg" style="width:100%">
    <img class="mySlides" src="images/coffee.jpg" style="width:100%">
  </div>
</div>
  <script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  </script>

  </body>
  </html>


