.container{
  height: 66.2%;
  width: 300px;
   position: absolute;
  right: 0;
  top: 120px;
  padding-top: 40px;
  background-color: rgb(246, 250, 251);
  margin-top: 0;
  padding-right: 20px;
  margin-right: 40px;
}
.container  {
  padding: 8px;
  font-size: 24px;
  display: block;
  }
.body-text {
  margin-left: 150px;
  font-size: 18px;
  }
.header{
  justify-content: space-between;
}
.cart{

    margin: 0 1.5em 0 1.5em;
    /* padding-top: 20px; */
    color: rgb(241 241 241);
    background-color: transparent;
    float: right;
    border-style: none;
    outline: none;

}

div.container{
  display: none;
}
#price{
  display: inline;
  padding-left: 0;
  align-items: center;
}

.order_list{
  font-size: 10px;
}
.cart_title{
  font-size: 15px;
  text-align: center;
}
.model_checkout{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#submit_button button {
  justify-content: center;
  background-color: thistle;
  padding-left: 20px;
}
#checkout_button{
  justify-content: center;
  background-color: thistle;
  // padding-left: 40px;
  align-items: center;
  margin-left: 80px;
}
.price_adjust{
  padding-right: 1.5em;
  margin-top: 10px;
}
.table_org{
  font-size: 13px;
  font-style: italic;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
}
.item-qty{
  font-size: 13px;
  font-style: italic;
  // padding-right: 10px;
}
.item-price{
  font-size: 13px;
  font-style: italic;
  // padding-right: 10px;
}
.item-name{
  font-size: 13px;
  font-style: italic;
  // padding-right: 10px;
}
.item-total{
//  display: flex;
//  justify-content: space-between;
}
.my-cart{
  // align-items: center;
  padding-left: 40px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.total-price{
  font-size: medium;
  font-style: italic;
  margin-left: 80px;
}
